[submodule "hw3/external/bstrlib"]
	path = hw3/external/bstrlib
	url = git@github.com:websnarf/bstrlib.git
[submodule "hw4/gst-template"]
	path = hw4/gst-template
	url = https://gitlab.freedesktop.org/gstreamer/gst-template.git
